body {margin: 0px; padding: 0px; font-family: Arial,sans-serif}
h1 {font-size: 30px; text-align: center;}
h2 {text-align: center; margin: 30px;}
h3 {margin: 0px; padding: 0px;}
h4 {margin: 0px; padding: 0px;}
hr {margin: 0px; padding: 0px;}
li {margin-left: 5px;}
select {float: right; margin: 0px; margin-right: 5px;}
.ag {width: 50%; margin-left: 5px; text-align: left;}
.avgang {font-size: 20px; text-align: right; width: auto; margin-right: 5px;}
.dev {margin-top: 5px; margin-left: 5px;}
.div1 {border-style: solid; border-left-style: hidden; border-right-style: hidden; border-bottom-style: hidden; height: auto; margin: 2px;}
.linje {font-size: 20px; width: auto; float: left; margin-left: 5px;}
#departures {width: 100%; margin-top: 3px; margin-right: -3px; border-style: solid; border-right-style: hidden; border-top-style: hidden; border-left-style: hidden;}
#gangvag {margin-left: 5px;}
#stationer {margin-right: 5px;}
#stInfo {margin-top: -15px;}
#storningknapp {float: right; margin-right: 5px; margin-top: 5px;}
#uppdateraknapp {margin-left: 5px; margin-top: 5px;}

